In [1]:
import numpy as np
import joblib
from sklearn.metrics import r2_score ,mean_squared_error
import pandas as pd

def mape(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

# data

In [2]:
# all data
data = joblib.load('../data/dataset.pkl')
b = data['output']
batch_size = b.shape[0]
A = data['action'].reshape(batch_size,-1)

In [3]:
# split data
sp = 100000
A_train = A[:sp]
b_train = b[:sp]
A_test = A[sp:]
b_test = b[sp:]

# lstsq find w

In [4]:
from numpy.linalg import inv 

w = inv(A_train.T@A_train)@A_train.T@b_train

w.shape

(396, 1)

# evaluate

In [5]:
y_pred = A_train@w
y_real = b_train
score = pd.DataFrame(index = ['train'],columns = ['R2','MSE','MAPE'])
score['R2'] = r2_score(y_real,y_pred)
score['MSE'] = mean_squared_error(y_real,y_pred)
score['MAPE'] = mape(y_real,y_pred)
score

             R2       MSE      MAPE
train  0.949804  0.000718  2.751881

In [6]:
y_pred = A_test@w
y_real = b_test
score2 = pd.DataFrame(index = ['test'],columns = ['R2','MSE','MAPE'])
score2['R2'] = r2_score(y_real,y_pred)
score2['MSE'] = mean_squared_error(y_real,y_pred)
score2['MAPE'] = mape(y_real,y_pred)
score2

            R2       MSE      MAPE
test  0.901499  0.001583  5.878625

In [8]:
score.append(score2)

             R2       MSE      MAPE
train  0.949804  0.000718  2.751881
test   0.901499  0.001583  5.878625

# check weight

In [ ]:
s = np.linalg.lstsq(A_train,b_train,rcond=-1)[0]
s = s.reshape(36,11)

In [ ]:
abs(pd.DataFrame(s,columns=data['action_col'])).style.background_gradient(axis=1)

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10,10))
plt.imshow(s,cmap='gray')